@model ManagerCreateModel
@{
    ViewData["Title"] = "CreateManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>

	<div class="pagetitle">
		<h1>Yönetici Ekleme Sayfası</h1>
		
	</div><!-- End Page Title -->

	<section class="section">
		<div class="row">
			<div class="col-lg-12">

				<div class="card">
					<div class="card-body">
						<h5 class="card-title"></h5>

						<form method="post" enctype="multipart/form-data">


							<div class="row mb-3">
								<label class="col-sm-3 col-form-label">Adı</label>
								<div class="col-sm-12">
									<input type="text" class="form-control" asp-for="Name">
									<span asp-validation-for="Name" class="text-danger"></span>
								</div>
							</div>

							<div class="row mb-3">
								<label class="col-sm-3 col-form-label">Soyad</label>
								<div class="col-sm-12">
									<input type="text" class="form-control" asp-for="Surname">
									<span asp-validation-for="Surname" class="text-danger"></span>
								</div>
							</div>

							<div class="row mb-3">
								<label class="col-sm-3 col-form-label">TC Kimlik Numarası</label>
								<div class="col-sm-12">
									<input type="text" class="form-control" asp-for="IdentityNumber">
									<span asp-validation-for="IdentityNumber" class="text-danger"></span>
								</div>
							</div>

							<div class="row mb-3">
								<label class="col-sm-3 col-form-label">Telefon</label>
								<div class="col-sm-12">
									<input type="text" class="form-control" asp-for="PhoneNumber">
									<span asp-validation-for="PhoneNumber" class="text-danger"></span>
								</div>
							</div>
							<div class="row mb-3">
								<label class="col-sm-3 col-form-label">Email</label>
								<div class="col-sm-12">
									<input type="email" class="form-control" asp-for="Email">
									<span asp-validation-for="Email" class="text-danger"></span>
								</div>
							</div>
							<div class="row mb-3">
								<label class="col-sm-3 col-form-label">Kullanıcı Adı</label>
								<div class="col-sm-12">
									<input type="text" class="form-control" asp-for="UserName">
									<span asp-validation-for="UserName" class="text-danger"></span>
								</div>
							</div>

							
							<div class="row mb-3">
								<div class="col-sm-12" style="display:flex; justify-content:flex-end">
									<button type="submit" class="btn btn-primary rounded-pill">Bilgilerimi Kaydet</button>
								</div>
							</div>

						</form><!-- End General Form Elements -->

					</div>
				</div>

			</div>


		</div>
	</section>


	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

	<!-- Vendor JS Files -->
	<script src="~/NiceAdmin/assets/vendor/apexcharts/apexcharts.min.js"></script>
	<script src="~/NiceAdmin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/NiceAdmin/assets/vendor/chart.js/chart.min.js"></script>
	<script src="~/NiceAdmin/assets/vendor/echarts/echarts.min.js"></script>
	<script src="~/NiceAdmin/assets/vendor/quill/quill.min.js"></script>
	<script src="~/NiceAdmin/assets/vendor~/Nice/simple-datatables/simple-datatables.js"></script>
	<script src="~/NiceAdmin/assets/vendor/tinymce/tinymce.min.js"></script>
	<script src="~/NiceAdmin/assets/vendor/php-email-form/validate.js"></script>

	<!-- Template Main JS File -->
	<script src="~/NiceAdmin/assets/js/main.js"></script>

</body>

